{% extends "base.html" %}
{% block title %}About{% endblock %}
{% set active_page = 'about' %}
{% block content %}
<h2>About Doggy Adoption Network</h2>
<img src="../static/about.jpeg" width="500"></a>
<p>
The DAN web application is designed with the intention of pairing prospective dog owners with a pet that best fits their lifestyle and needs. Based on conversations we have had with veterinary practitioners and local dog adoption centers, we felt it would be best to have this application also emphasize the need of the dogs as much as the needs of the users. This application will also stress the time and budgetary commitments needed to fulfill the dog's needs.
The system will filter the profiles of adoptable dogs in the area based on the user’s indicated lifestyle and each dog’s care needs.
Dogs will be profiled and filtered based on needs including: exercise and social habits; health considerations; grooming and shedding preferences; and preferred lifespan.
</p><p>
Currently, there are multiple websites and apps that can be used to find a nearby dog to adopt. There are two major systems used by adoption agencies in the Eugene area to list their available pets. Petfinder (used by S.A.R.A.) and Petango (used by Greenhill) both maintain dog profiles for thousands of adoption centers, and allows a user looking for a dog to filter by zip code (and distance from zip code), breed, age, size, and “good with” (other dogs, cats, children). Petfinder has additional filters including “days on Petfinder”, coat length, and care/ behavior (house trained or special needs).
</p><p>
There are also quizzes that allow people who may be inexperienced with dogs to find what dog would emotionally and environmentally be the right breed of dog for them. The results of these quizzes are generally a specific breed.
</p><p>
Our application serves as a dual-edged research tool that allows users to both find a dog that works for them and also informs them of what amount of commitment is needed on their part.
</p><p>
In the future, we will partner with local dog shelters to display new adoptees, each with distinct personality traits. For now, all of our dog personaility traits are randomly generated (OUR DOGS ARE NOT REAL).
</p>
{% endblock %}