<!-- this file is the template for the webpage that displays information about our application -->
{% extends "base.html" %}
{% block title %}About{% endblock %}
{% set active_page = 'about' %}
{% block content %}
<h2>About Doggy Adoption Network</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente reprehenderit inventore veniam aliquid, autem commodi doloribus aperiam, dolorum eveniet qui quam incidunt necessitatibus repudiandae voluptatibus velit corporis non aspernatur tenetur.</p>
{% endblock %}