{% extends "base.html" %}
{% block title %}look at all these dogs!{% endblock %}
{% set active_page = none %}
{% block content %}
<!-- <div class="container"> -->
    {% for d in dogs %}
    {% if loop.index0 % 4 == 0 %}
    <div class="row">
    {% endif %}
    <div class="col-md-3 py-2">
        <div class="card">
            <img src="../static/exe-dog3.jpeg" class="img-fluid" alt="Responsive image">
            <div class="card-body">
                <h5 class="card-title">{{d[1]}}</h5>
                <p class="card-text">{{d[0]}} {{d[5]}} - {{d[2]}}y</p>
                        <form action="#", method="post">
                      <input type="hidden" name="value" value={{d[0]}}>
                      <button class="btn btn-primary" type="submit" name="view_profile">View {{d[1]}}</button>
            </div>
        </div>
    </div>
    {% if (loop.index0+1) % 4 == 0 or loop.last%}
    
    </div>
    {% endif %}
    {% endfor %}
<!-- </div> -->
{% endblock %}

<!-- note - returns in this order: ID, name, age, weight, sex, breed, notes, neutered, walks, barking, trained, training_time, yard_requirement, friendly, energy, attention_requirement, good_with_pets, good_with_kids, shedding, size, photo -->