<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- links bootstrap style sheet -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- links bootstrap js files (used in some components animations) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet"
    type="text/css"
    href="../static/custom.css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>{% block title %}Base{% endblock %}</title>

</head>
<body>
<!-- navbar stuff here -->
{% set navbar_items = [
  ('/', 'home', 'Home'),
  ('/about', 'about', 'About'),
  ('/login', 'login', 'Login'),
  ('/shelter-login', 'for-shelters', 'For Shelters')
] %}

<!-- if a page is set to active, it won't be displayed in navbar -->
{% set active_page = active_page|default('home') %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Doggy Adoption Network</a>
  <button class="navbar-toggler" 
  type="button" 
  data-toggle="collapse" 
  data-target="#navbar" 
  aria-controls="navbar" 
  aria-expanded="false" 
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class = "collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
          {% for href, id, caption in navbar_items %}
          {% if id != active_page %} 
          <a class="nav-item nav-link" href="{{href}}" id="{{id}}">{{caption}}</a>
          {% endif%}
          {% endfor %}
      </div>
  </div>
</nav>

        <!-- get_flashed_messages() is a Flask function that
        returns the last message registered with flash() -->
        {% with messages = get_flashed_messages() %}
        <!-- checks if messages has content -->
        {% if messages %}
        <ul>
            <!-- iterates through messages' content -->
            {% for message in messages %}
            <!-- displays message contents on webpage (FOR TEMPORARY TESTING) -->
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

<div class="container">
  {% block content %}Content
  {% endblock %}
</div>


    <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
        ></script>
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
    ></script>

</body>
</html>