{% extends "base.html" %}
{% block title %}look at this one dog!{% endblock %}
{% set active_page = none %}
{% block content %}
<!-- <div class="container"> -->
    <div class="row bg-light">
        <div class="col-sm">
            <h3>{{dogp.name}}</h3>
            <h4>{{dogp.sex}} - {{dogp.age}} Years</h4>
            <p>Neutered/Spayed: {{dogp.neuspay}}</p>
            <p>Friendly</p>
            <p>Weight: {{dogp.weight}}</p>
            <p>Size: {{dogp.size}}</p>
            <p>{{dogp.bio}}</p>
            <!-- <p>Grooming Needs: weekly grooming</p> -->
            <!-- <p>Energy Needs: </p> -->
            <!-- <p>Attention Needs: </p> -->
        </div>
        <div class="col-sm align-items-center">
            <img class="imgfluid" src="../static/main-dog.jpeg" alt="dog image">
            <p>this will probably eventually be associated with the dog</p>

        </div>
    </div>
<!-- </div> -->
{% endblock %}

