{% extends "base.html" %}
{% block title %}look at this one dog!{% endblock %}
{% set active_page = none %}
{% block content %}
<!-- <div class="container"> -->
    <div class="row bg-light">
        <div class="col-sm">
            <h3>{{dogp.name}}</h3>
            <p>{{ dogp.bio }}</p>
        </div>
        <div class="col-sm">
            <img class="imgfluid" src="../static/main-dog.jpeg" alt="dog image">
            <p>{{dogp.img}}</p>
        </div>
        <div class="col-sm">
            <p>Group</p>
        </div>
    </div>
<!-- </div> -->
{% endblock %}

