{% extends "base.html" %}
{% block title %}look at this one dog!{% endblock %}
{% set active_page = none %}
{% block content %}
    <div class="row">
        <div class="col-sm">
            <h3>{{dogp.name}}</h3>
            <p>{{ dogp.bio }}</p>
        </div>
        <div class="col-sm">
            <img class="img-fluid" src="../static/{{dogp.img}}.jpeg" alt="{{dogp.name}} image">
        </div>
        <div class="col-sm">
            <p>Breed: {{ dogp.breed }}</p>
            <p>Group: {{ dogp.group }}</p>
            <p>Size: {{ dogp.size }} {{ dogp.weight }}lbs</p>
            <p>Good with kids: {{ dogp.kids }}</p>
            <p>Good with other pets: {{ dogp.pets }}</p>
            <p>Neutered/Spayed: {{ dogp.neuspay }}</p>
            
        </div>
    </div>
{% endblock %}

