{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% set active_page = 'home' %}
{% block content %}

<!-- <div class = "container align-items-center"> -->
    <div 
    class = "row align-items-center"
    style="min-height: 90vh">
        <!-- TODO center (or at least lower) this entire thing-->
        <!-- TODO put the content from the left col into a card -->
        <div class="col-xl-4 align-self-center bg-light">
                <h2>Welcome to Dan! Find your forever pet today!</h2> 
                <p>Finding a pet is hard, and there is more of a need forever to find the perfect companion!
                   The DAN web application is designed with the intention of pairing prospective dog owners with a pet that
                   best fits their lifestyle and needs.
                   Click the start button to run through our quiz module, or click view dogs to see all of our dogs!</p>
                <div class="row justify-content-center">
                    <div class = "col-md">
                        <a href="signup"><button class="btn btn-primary">Start</button></a>
                    </div>
                    <div class = "col-md">
                        <a href="dogs"><button class="btn btn-outline-primary">View Dogs</button></a>
                    </div>
                </div>
        </div>
        <div class="col-xl-8 align-self-center">
            <img src="../static/main-dog.jpeg" width="500"></a>
        </div>
    </div>

<!-- </div> -->
{% endblock %}