<!-- this file is the template for the quiz webpage -->
{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% set active_page = 'login' %}
{% block content %}




<form action="" method="post" >
<!-- this form contains all of the drop down menus for every question (each question is called myField) in our quiz -->

    <p>{{ form.myField1.label }}
        <!-- the label is the text of the question -->
        {{form.myField1}}</p>
        <!-- this displays the answer to the question -->

    <p>{{ form.myField2.label }}
        {{form.myField2}}</p>

    <p>{{ form.myField3.label }}
        {{form.myField3}}</p>

    <p>{{ form.myField4.label }}
        {{form.myField4}}</p>

    <p>{{ form.myField5.label }}
        {{form.myField5}}</p>

    <p>{{ form.myField6.label }}
        {{form.myField6}}</p>

    <p>{{ form.myField7.label }}
        {{form.myField7}}</p>

    <p>{{ form.myField8.label }}
        {{form.myField8}}</p>

    <p>{{ form.myField9.label }}
        {{form.myField9}}</p>

    <p>{{ form.myField10.label }}
        {{form.myField10}}</p>

    <p>{{ form.myField11.label }}
        {{form.myField11}}</p>

    <p>{{ form.myField12.label }}
        {{form.myField12}}</p>

    <p>{{ form.myField13.label }}
        {{form.myField13}}</p>

    <p>{{ form.myField14.label }}
        {{form.myField14}}</p>

    <p>{{ form.myField15.label }}
        {{form.myField15}}</p>

    <p>{{ form.myField16.label }}
        {{form.myField16}}</p>


    <p>{{ form.submit() }}</p>
    <!-- this creates the burron to submit the quiz answers.
    the answers aren't saved until hitting submit -->

</form>



{% endblock %}
