{% extends "base.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
<div class="container">

    <h1>This is the sign up page!</h1>
    <h2>There will be a form here for users to fill out about their lifestyle</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod architecto veniam amet officiis ab, consequuntur maiores optio temporibus autem ratione, quo quos? Dignissimos distinctio repudiandae necessitatibus cupiditate, impedit cum accusamus?</p>

    <!-- TODO figure out if we can auto populate this w a for loop? -->
    <div class="container">
        <h4>Question 1</h4>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1">
            Default radio
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
            Second default radio
            </label>
        </div>
    </div>
    <div>
        {% for q in questions %}
            <h4>{{ q[0] }}</h4>
            {% for a in q[1] %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="test{{q}}" value="{{a}}" id="id{{a}}">
                    <label class="form-check-label" for="id{{a}}">
                        {{a}}
                    </label>
                </div>
            {% endfor %}
        {% endfor %}


    </div>
</div>
{% endblock %}